@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'AkzidenzGrotesk-Regular';
    src: url('/fonts/AkzidenzGrotesk-Regular.eot');
    src: local('☺'),
        url('/fonts/AkzidenzGrotesk-Regular.woff') format('woff'),
        url('/fonts/AkzidenzGrotesk-Regular.ttf') format('truetype'),
        url('/fonts/AkzidenzGrotesk-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family: 'PT Sans';

html,
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

.container-1 {
    max-width: 880px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;

    &_lang {
        display: flex;
        justify-content: space-around;

        &-item {
            display: block;
            line-height: 19px;
            color: black;
            font-family: 'Bebas Neue',
                cursive;
            font-size: 10px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-right: 10px;
            padding: 0 4px;

            &_active {
                color: #fff;
                background-color: #000;
            }
        }
    }

    &_link {
        font-family: 'Bebas Neue',
            cursive;
        font-size: 15px;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;
        color: #000000;
    }
}

.header-bottom {
    margin-top: -20px;
    display: flex;
    align-items: center;

    &_column {
        flex: 0 0 33.333%;
    }

    &_list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
    }

    &_menu-link {
        font-family: 'Bebas Neue',
            cursive;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #000000;
        text-decoration: none;

        &:hover {
            box-shadow: 0px 0px 40px 0px #ff6 inset;
        }
    }

    &_logo {
        display: block;
        text-align: center;
        text-decoration: none;
    }

    &_logo-text {
        font-family: 'Bebas Neue',
            cursive;
        font-size: 12px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 8px;
        color: #000000;
        display: block;
    }

    &_logo-img {
        display: block;
        margin: 13px 0 22px 0;
    }
}

.private {
    // padding: 82px 0 75px 0;
    width: 100%;
    margin-top: 33px;
    display: flex;
    // height: 425px;

    div {
        flex: 0 0 50%;

        @media (max-width: 767px) {
            flex: 0 100%;
        }
    }

    @media (max-width: 480px) {}

    &-food {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    &-black {
        color: #ffffff;
        background-color: #000000;

        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
        }

        &_title {
            font-family: 'Bebas Neue',
                cursive;
            padding: 82px 0px 59px 62px;
            font-size: 50px;
            line-height: 50px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 10px;
            color: #ffffff;
        }

        &_subtitle {
            padding-left: 59px;
            font-family: 'PT Sans';
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: #ffffff;
        }

        &_container {
            padding: 55px 0 0 59px;

            a {
                margin-bottom: 75px;
                display: inline-block;
                width: 155px;
                height: 50px;
                text-decoration: none;
                text-align: center;
                font-family: 'Bebas Neue',
                    cursive;
                font-size: 20px;
                line-height: 50px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2px;

                &:nth-child(1) {
                    background-color: #ffffff;
                    color: #000000;
                }

                &:nth-child(2) {
                    color: #fffffe;
                    text-decoration: underline;
                }
            }
        }
    }
}

.get {
    margin: 175px 0 79px;

    @media (max-width: 866px) {
        margin: 50px 0 30px;
    }

    &-wrapper {
        display: flex;

        @media (max-width: 866px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-item {
        max-width: 25%;
        display: flex;
        flex-direction: column;

        @media (max-width: 768) {
            margin-bottom: 50px;
        }

        @media (max-width: 866px) {
            margin-bottom: 40px;
        }
    }

    &-container_img1 {
        max-width: 100%;
        height: 200px;
        background: url('/images/food_small1.jpg') center center/cover no-repeat;

        @media (max-width: 768) {}
    }

    &-container_img2 {
        width: 100%;
        height: 200px;
        background: url('/images/food_small2.jpg') center center/cover no-repeat;
    }

    &-container_img3 {
        width: 100%;
        height: 200px;
        background: url('/images/food_small3.jpg') center center/cover no-repeat;
    }

    &-container_img4 {
        width: 100%;
        height: 200px;
        background: url('/images/food_small4.jpg') center center/cover no-repeat;
    }

    &-title {
        text-align: left;
        margin-top: 25px;
        width: 50%;
        font-family: 'Bebas Neue',
            cursive;
        font-size: 25px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #000000;

        @media (max-width: 866px) {
            text-align: center;
            width: 100%;
            font-size: 18px;
        }
    }

    &-descr {
        margin-top: 36px;
        font-family: $font-family;
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        color: #000000;

        @media (max-width: 866px) {
            text-align: center;
            margin-top: 10px;
            font-size: 12px;
        }
    }

    &-link {
        width: 50%;
        background-color: #000000;
        padding: 18px 33px;
        display: block;
        margin-top: 32px;
        font-family: 'Bebas Neue',
            cursive;
        text-decoration: none;
        font-size: 20px;
        line-height: 25px;
        font-weight: 400px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff;
        text-align: center;

        &:hover {
            opacity: 0.8;
        }

        @media (max-width: 866px) {
            margin: 0 auto;
            padding: 5px 5px;
            font-size: 12px;
            margin-top: 10px;
        }
    }

    &-link_menu {
        font-family: 'Bebas Neue',
            cursive;
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #000000;
        margin-top: 29px;
        display: block;

        &:hover {
            opacity: 0.8;
        }

        @media (max-width: 866px) {
            margin: 0 auto;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}

.choose {
    width: 100%;
    background-color: #ebebeb;

    &-wrapper_top {
        display: flex;

        >div {
            display: flex;
            height: 150px;
            width: 50%;

            @media (max-width: 866px) {
                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(1) {
                    width: 100%;
                }
            }
        }
    }

    &-black {
        background-color: #000000;

        div {
            padding: 60px 61px 0 0;
            width: 100%;
            font-family: 'Bebas Neue',
                cursive;
            font-size: 50px;
            line-height: 25px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 8px;
            color: #ffffff;
            text-align: right;

            @media (max-width: 866px) {
                text-align: center;
                padding: 0;
                transform: translateY(45%);
                font-size: 40px;

            }
        }
    }

    &-img {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 54px 0 50px 20px;

        @media (max-width: 866px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-item {
        width: 420px;

        img {
            object-fit: contain;
            padding: 15px 20px;
            display: inline-block;
            background-color: #000;
            width: 60px;
            height: 70px;
        }

        &_title {
            margin-left: 12px;
            vertical-align: top;
            display: inline-block;
            font-family: 'Bebas Neue',
                cursive;
            font-size: 25px;
            line-height: 25px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #000000;
        }

        &_descr {
            width: 300px;
            font-family: $font-family;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            color: #000000;
        }
    }
}

.contacts {
    padding-top: 82px;

    @media (max-width: 480px) {
        padding-top: 38px;
    }

    &-title {
        font-family: 'Bebas Neue',
            cursive;
        font-size: 50px;
        line-height: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 27px;

        @media (max-width: 768px) {
            text-align: center;
            margin-bottom: 10px;
            font-size: 45px;
        }

        @media (max-width: 480px) {
            font-size: 35px;
        }

    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        padding: 39px 0 10px 0;

        @media (max-width: 768px) {
            overflow: hidden;
            padding-left: 66px;
            justify-content: space-between;
        }

        @media (max-width: 480px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 39px 0 10px 25px;
        }

        &_item {
            display: block;
            width: 50%;
            margin-bottom: 50px;

            @media (max-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
            }

            >a {
                width: 100%;
                height: 100%;
                font-family: $font-family;
                font-size: 15px;
                line-height: 25px;
                font-weight: 400;
                color: #000000;
                text-decoration: none;
                display: block;
                padding-left: 35px;

                @media (max-width: 768px) {}

            }
        }



        &_link-a {
            background: url(/icons/map.png) left no-repeat;
            object-fit: fill;
        }

        &_link-t {
            background: url(/icons/telephone.png) left no-repeat;

            @media (max-width: 480px) {
                letter-spacing: 2px;
            }
        }

        &_link-m {
            background: url(/icons/email.png) left no-repeat;
        }

        &_social {
            display: flex;

            a {
                display: block;

                &:not(:last-child) {


                    margin-right: 31px;
                }

            }
        }
    }

    &-bottom {
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }

        &_column {
            width: 50%;
            max-height: 100%;
            display: flex;

            @media (max-width: 768px) {
                width: 100%;
                height: 100%;
            }

        }

        &_map {
            width: 100%;
            // height: 100%;
        }

        &_column:nth-child(2) {
            background-color: #000000;
            padding: 44px 0 50px 0;
            flex-direction: column;
            box-sizing: border-box;
        }

        &_title {
            font-family: 'Bebas Neue',
                cursive;
            font-size: 25px;
            line-height: 30px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffffff;
            margin-bottom: 28px;
            margin-left: 60px;

            @media (max-width: 768px) {
                font-size: 40px;
                text-align: center;
                margin-left: 0;
            }
        }

        &_form {
            display: block;
            margin-left: 60px;

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 0;
            }

            input {
                width: 50%;
                display: block;
                background-color: #252525;
                border: 2.0px solid #959595;
                margin-bottom: 25px;
                padding: 17px;

                @media (max-width: 768px) {
                    text-align: center;
                    margin-bottom: 35px;
                }
            }

            textarea {
                min-height: 95px;
                width: 50%;
                display: block;
                background-color: #252525;
                border: 2.0px solid #959595;
                margin-bottom: 25px;
                font-family: $font-family;
                font-size: 15px;
                font-weight: 400;
                color: #959595;
                padding: 17px;

                @media (max-width: 768px) {
                    text-align: center;
                }
            }

            button {
                display: block;
                width: 155px;
                height: 50px;
                background-color: #ffffff;
                font-family: 'Bebas Neue',
                    cursive;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: #000000;
                border: none;
                cursor: pointer;

                @media (max-width: 768px) {
                    margin-top: 15px;
                    font-size: 18px;
                }
            }
        }
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Portrait phones and smaller */
@media (max-width: 480px) {}

/* Iphone 5 */
@media (max-width: 320px) {}